@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* background-color: #111827; */
    /* overflow-x: hidden; */
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #6d6c6c;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {

    background: #b7b7b7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}